*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.left{
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
}
.smallright{
    margin-right: 400px;
    margin-top: 30px;
    flex: 1;
}
.smallleft{
    margin-top: 5px;
    margin-left: 400px;
    flex: 1;
}
body{
    background-image: url(medicalback.jpeg);
}
.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bodyright{
        height: 250px;
        width: 600px;
        background-color: white;
        border-radius: 20px;
        text-align: center;
        /*background-image: url(wp4331279.webp);*/
}
#submit{
    background-color: skyblue;
    padding: 0 30px 0px 20px;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.pad{
    margin-bottom: 20px;
}
input:hover{
    transform: scale(1.1);
}
.footer{
    padding: 20px;
    text-align: center;
    background-color: #EEEEEE;
}
footer{
    margin-top: 135px;
}